body {
   <!-- background: linear-gradient(to top right, #3a3b3b 0%, #3a3939 100%); -->
  background-image: url('laptop.jpg');
  background-size: cover;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
  padding: 5px;
  margin: 1px;
  padding-right: 10px;
  padding-left: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #252835;
}

div {
  height: 95vh;
  width: 70vw;
  text-align: center;

}

h1 {
  color: rgb(2, 207, 139);
  background-color: #706f6f;
  margin: 5px;
  padding-right: 100px;
  padding-left: 100px;
  text-shadow: 2px 2px #FF0000;
  
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
h2 {
  text-align: left;
  position: relative;
  font-size: 2vw;
  color: #252839;
  -webkit-text-stroke: 0.1vw #383d52;
  text-transform: uppercase;
}
h2::before{
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  color: #01fe87;
  -webkit-text-stroke: 0vw #383d52;
  border-right: 1px solid #01fe87;
  overflow: hidden;
  animation: animate 12s linear infinite;
}

@keyframes animate
{
  0%,10%,100%
  {
    width: 0;
  }
  70%,90%
  {
    width: 100%;
  }
}

p {
  color: rgb(255, 255, 255);
  font-size: 20px;
  margin: 5px;
  padding-right: 100px;
  padding-left: 100px;
}

nav{
  float: right;
}
nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li{
  display: inline-block;
  margin-left: 50px;
  padding-top: 10px;
  padding-right: 10px;
  text-align: center;
  position: relative;
}
nav ul li a{
  text-align: center;
}

nav a{
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}
nav a:hover {
  color:#000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: rgb(2, 207, 139);

  position: relative;
  top: 0;
  width: 0%;

  transition: all ease-in-out 400ms;
}

nav a:hover::before{
  width: 100%;
}

