body {
  background: linear-gradient(to top right, #33ccff 0%, #ff99cc 100%);

  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div {
  height: 100vh;
  width: 100vw;
  text-align: center;
}

h1 {
  color: rgb(77, 12, 131);
}

p {
  color: rgb(27, 40, 116);
  font-size: 20px;
}
